*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: r;
    color: var(--text-color);
}
:root {
    --primary-color: #990011;
    --sec-color: #fdf3d2;
    --text-color: #1A1A1A;
    --hover-color: #660000;
}

#course-title {
    font-size: 1.5rem;
    color: var(--sec-color);
    text-align: center;
    padding: 1rem;
}

#course-title span {
    display: block;
}

.card {
    padding: 1rem;
    border: 3px solid var(--primary-color);
    margin: 5px;
    border-radius: 4rem;
}

.card img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 6em;
}

.card p {
    text-align: justify;
    font-size: 1.2rem;
}

#chicken {
    float: left;
    margin: 10px;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    border-bottom: 3px dashed var(--primary-color);
    margin: 1rem;
}

h2 {
    font-weight: 300px;
    font-size: 1.2rem;
    text-align: center;
}

header {
    background-color: var(--primary-color);
    color: var(--sec-color);
}

header span {
    display: block;
}

header nav {
    display: flex;
    gap: .5rem;
}

header nav a {
    flex: 1 1 auto;
    text-decoration: none;
    color: var(--sec-color);
    justify-content: space-around;
    text-align: center;
    font-weight: 300;
    padding: 5px;
    border-radius: 5em;
}

header nav a:hover {
    background-color: var(--hover-color);
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem;
    border-top: 2px dashed var(--text-color);
}

footer p {
    color: var(--sec-color);
}

footer span {
    color: var(--sec-color);
}

main {
    background-color: var(--sec-color);
    display: grid;
    grid-template-columns: 3fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
}

main h1 {
    grid-column: 1/6;
}