@media only screen and (min-width: 50rem) {
nav ul {
    display: flex;
}

nav ul li {
    display: block;
    flex: 1 1 100%;
    text-align: center;
    flex-wrap: wrap;
    padding: 5px;
    list-style: none;
    border-right: 1px solid var(--neutral-base);
    border-left: 1px solid var(--neutral-base);
}

nav ul li a {
    text-decoration: none;
    color: var(--neutral-base);
    font-weight: 400;
    font-size: 1.25rem;
}

li:hover {
    background-color: var(--main-teal-hover);
    box-shadow: 0 5px 20px var(--base-text);
    color: var(--neutral-base);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

h1 {
    grid-column: 1/3;
    font-size: 2rem;
    padding: 15px;
    background-color: var(--sec-ochre);
    border-radius:  1rem 35px;
}

.menu {
    display: none;
}
}

@media only screen and (min-width: 70rem){
    
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

h1 {
    grid-column: 1/4;
    font-size: 2rem;
    padding: 15px;
    background-color: var(--sec-ochre);
    border-radius:  1rem 35px;
}

.menu {
    display: none;
}

li {
    display: block;
}
}