.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 10px;
    border: 2 dotted rgba(128, 128, 128, 0.712);
    background-color: rgb(88, 193, 237);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

main section {
    padding: 1rem;
    background-color: rgb(172, 223, 245);
}